*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

header{
  background-color:#ff9a4b;
  height:50px;
}

main{
  width:960px;
  display:flex;
  margin:50px auto;
}

.step-box{
  width:100%;
  padding:10px;
  margin-right:10px;
  position:relative;
  background-color:#eee;
  
}

.step-box:last-child{
  margin-right:0;
}

.step-img{
height:150px;
width:100%;
background-image:url(img/flow01.png);
background-position:bottom;
background-size:cover;
}

.step-num{
  position:absolute;
  top:0;
  left:0;
  background-color:#ff9a4b;
  color:#fff;
}

.title{
  margin:15px 0 5px;
}

footer{
  height:50px;
  background-color:#aaa;
}

.step-box{
  color:black;
}

@media screen and (max-width:768px) {
  .step-box:last-child{
    margin-bottom:50px;
  }
  main{
    display:block;
  }
  .step-box{
    color:black;
    width:90%;
    margin-top:20px;

  }
}